*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --bs-secondary-color: #d4d4d4;
    --bs-emphasis-color: #ec2a2a;
    --bs-link-hover-color: #ff7373;
    --bs-link-color: #ec2a2a;
    --bs-link-color-rgb: 236, 42, 42;
    --bs-link-hover-color-rgb: 255, 115, 115;
    --bs-secondary-bg-subtle: #4a505c;
    --bs-secondary-text-emphasis: #fdfdfd;
}

body {
    color: #d4d4d4;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h6 {
    margin-bottom: .75rem;
}

.form-control {
    height: calc(1.5em + .75rem + 2px);
    color: #d4d4d4;
    background-color: #1e1e1e;
    border: 1px solid #ca0000;
    transition: background-color 1s cubic-bezier(.71, -.01, .01, .89), box-shadow 2s cubic-bezier(.03, .27, 0, 1.29)
}

.form-control:focus {
    color: #f3f2f2;
    background-color: #2f1212;
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 .2rem rgba(255, 0, 0, .25)
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1
}

.btn {
    display: inline-block;
    font-weight: 200;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-primary {
    background-color: #24af2c;
    border-color: #1e1e1e;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075)
}

.btn-primary:hover {
    background-color: #0f983d;
}

.btn-primary:disabled {
    background-color: #83c095;
}

.btn-secondary {
    background-color: #2b4da2;
    border-color: #4f58ce61;
}

.btn-secondary:hover {
    background-color: #365ac1;
}

.btn-secondary.collapse-controller[aria-expanded=true] {
    background-color: #1a5d47;
}

.btn-danger {
    --bs-btn-bg: #a52c38;
    --bs-btn-border-color: #a52c38;
}

.btn-danger:hover {
    --bs-btn-hover-bg: #a80860;
}

.nav-tabs {
    border-bottom: 1px solid #ff0101;
}

.nav-tabs .nav-link {
    border: 1px solid #00000000;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    transition: 0.5s;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: #ff0000 #ff0000 #ff0101;
    transition: border-color 0.75s cubic-bezier(0.2, 0.85, 0.52, 1.01);
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    --bs-nav-tabs-link-active-color: #2cd74b;
    border-color: #ff0101 #ff0101 #1e1e1e;
}

.nav-tabs .nav-item .nav-link {
    background-color: transparent;
}

.card {
    background-color: #545454;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
    --bs-card-color: var(--bs-secondary-color);
    background-color: #1e1e1e;
}

@keyframes tipakruto {
    from {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    to {
        background-position: 0 50%
    }
}

.navbar-brand {
    animation: tipakruto 20s infinite;
    animation-fill-mode: forwards;
    overflow: hidden;
    background: linear-gradient(191deg, rgba(18, 255, 0, 1) 20%, rgba(255, 255, 255, 0) 50%, rgba(255, 24, 24, 1) 80%);
    background-size: 1000%;
    background-clip: text;
    color: transparent;
}
